/* line 1, ../portfolio/codewiz/scss/_header.scss */
header {
  background: url(../img/bg/webp/header-bg-pc-grad.webp) no-repeat;
  background-size: cover;
  text-align: center;
  color: #F2F3F4;
  font-weight: 500; }

/* line 9, ../portfolio/codewiz/scss/_header.scss */
.header-section {
  border-bottom: 1px solid red; }

/* line 15, ../portfolio/codewiz/scss/_header.scss */
nav {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  z-index: 10; }

/* line 22, ../portfolio/codewiz/scss/_header.scss */
.menu-nav {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(5, 1fr);
  text-transform: uppercase;
  padding: 1.5rem 0;
  border-bottom: 1px solid #FFD801; }

/* line 33, ../portfolio/codewiz/scss/_header.scss */
.header-section {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr; }

/* line 39, ../portfolio/codewiz/scss/_header.scss */
.logo-content {
  display: grid;
  align-self: center; }

/* line 44, ../portfolio/codewiz/scss/_header.scss */
.header-hero-wrap {
  display: grid;
  align-self: end; }

/* line 49, ../portfolio/codewiz/scss/_header.scss */
.logo-wrap {
  width: 100%; }

/* line 55, ../portfolio/codewiz/scss/_header.scss */
.wiz {
  max-width: 40%; }
  /* line 58, ../portfolio/codewiz/scss/_header.scss */
  .wiz .cls-1, .wiz .cls-2 {
    fill: #F2F3F4;
    stroke-width: 0px; }
  /* line 63, ../portfolio/codewiz/scss/_header.scss */
  .wiz .cls-2 {
    fill-rule: evenodd; }

/* line 70, ../portfolio/codewiz/scss/_header.scss */
.logo-text {
  font-size: clamp(1.95rem, calc(1.4vw + 1.67rem), 2.81rem);
  padding-top: 1rem; }

/* line 1, ../portfolio/codewiz/scss/_section-about.scss */
.about-section {
  min-height: 100vh;
  background: url(../img/bg/about-bg-pc-grad.png) no-repeat;
  background-size: cover;
  color: #F2F3F4;
  border-bottom: 1px solid red; }
  /* line 9, ../portfolio/codewiz/scss/_section-about.scss */
  .about-section h2 {
    padding: 3rem 0;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #BA0001;
    text-underline-offset: 10px;
    text-decoration-thickness: 6px; }

/* line 19, ../portfolio/codewiz/scss/_section-about.scss */
.about-wrap-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem; }

/* line 28, ../portfolio/codewiz/scss/_section-about.scss */
.about-wrap-1 h1 {
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-color: #BA0001;
  text-underline-offset: 10px;
  text-decoration-thickness: 6px; }

/* line 36, ../portfolio/codewiz/scss/_section-about.scss */
.about-wrap-1 h3 {
  text-transform: none;
  place-self: center;
  line-height: 1.5;
  padding-top: 2rem; }

/* line 44, ../portfolio/codewiz/scss/_section-about.scss */
.about-wrap-2 {
  line-height: 2; }

/* line 1, ../portfolio/codewiz/scss/_section-techstack.scss */
.techstack-section {
  min-height: 100vh;
  background: url(../img/bg/techstack-bg-pc-grad.png) no-repeat;
  background-size: cover;
  color: #F2F3F4;
  border-bottom: 1px solid red; }
  /* line 9, ../portfolio/codewiz/scss/_section-techstack.scss */
  .techstack-section h2 {
    padding: 3rem 0;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #B83DCB;
    text-underline-offset: 10px;
    text-decoration-thickness: 6px; }

/*CUBE HERO*/
/* line 23, ../portfolio/codewiz/scss/_section-techstack.scss */
.cube-hero-tb,
.cube-hero-mb {
  display: none; }

/* line 28, ../portfolio/codewiz/scss/_section-techstack.scss */
.techstack-content {
  position: relative; }

/* line 32, ../portfolio/codewiz/scss/_section-techstack.scss */
.cube-hero-pc {
  position: relative; }

/* SKILL SET */
/* line 39, ../portfolio/codewiz/scss/_section-techstack.scss */
.skill-set-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40%; }

/* line 45, ../portfolio/codewiz/scss/_section-techstack.scss */
.skill-set-first,
.skill-set-second {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 1rem; }

/* line 52, ../portfolio/codewiz/scss/_section-techstack.scss */
.skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  align-items: center;
  column-gap: 1rem; }

/* line 59, ../portfolio/codewiz/scss/_section-techstack.scss */
.status-wrap {
  width: 100%;
  height: 50%;
  background-color: #611d6c; }

/* line 65, ../portfolio/codewiz/scss/_section-techstack.scss */
.status {
  width: 100%;
  height: 100%;
  background-color: #B83DCB; }

/* line 71, ../portfolio/codewiz/scss/_section-techstack.scss */
.html5 {
  width: 85%; }

/* line 75, ../portfolio/codewiz/scss/_section-techstack.scss */
.css3 {
  width: 85%; }

/* line 79, ../portfolio/codewiz/scss/_section-techstack.scss */
.js {
  width: 25%; }

/* line 83, ../portfolio/codewiz/scss/_section-techstack.scss */
.jq {
  width: 25%; }

/* line 87, ../portfolio/codewiz/scss/_section-techstack.scss */
.sass {
  width: 50%; }

/* line 91, ../portfolio/codewiz/scss/_section-techstack.scss */
.github {
  width: 25%; }

/* line 95, ../portfolio/codewiz/scss/_section-techstack.scss */
.skill-name {
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: #B83DCB;
  text-underline-offset: 8px;
  text-decoration-thickness: 3px; }

/* line 1, ../portfolio/codewiz/scss/_section-projects.scss */
.projects-section {
  min-height: 100vh;
  background: url(../img/bg/projects-bg-pc-grad.png) no-repeat;
  background-size: cover;
  color: #F2F3F4;
  border-bottom: 1px solid red; }
  /* line 9, ../portfolio/codewiz/scss/_section-projects.scss */
  .projects-section h2 {
    padding: 3rem 0;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #FFD801;
    text-underline-offset: 10px;
    text-decoration-thickness: 6px; }

/* line 19, ../portfolio/codewiz/scss/_section-projects.scss */
.projects-wrap-main {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 3rem; }

/* line 27, ../portfolio/codewiz/scss/_section-projects.scss */
.project-wrap-1 h4,
.project-wrap-2 h4 {
  text-decoration: underline;
  text-decoration-color: #FFD801;
  text-underline-offset: 6px;
  text-decoration-thickness: 3px;
  line-height: 1.5;
  text-align: right;
  padding-right: 2rem; }

/* line 38, ../portfolio/codewiz/scss/_section-projects.scss */
.project-wrap-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem; }
  /* line 43, ../portfolio/codewiz/scss/_section-projects.scss */
  .project-wrap-1 ul {
    list-style: none; }
    /* line 46, ../portfolio/codewiz/scss/_section-projects.scss */
    .project-wrap-1 ul li {
      line-height: 2; }
      /* line 48, ../portfolio/codewiz/scss/_section-projects.scss */
      .project-wrap-1 ul li img {
        border-radius: 10px; }
    /* line 53, ../portfolio/codewiz/scss/_section-projects.scss */
    .project-wrap-1 ul li:first-of-type {
      font-weight: 700;
      text-decoration: underline;
      text-decoration-color: #FFD801;
      text-underline-offset: 6px;
      text-decoration-thickness: 2px; }

/* line 63, ../portfolio/codewiz/scss/_section-projects.scss */
.project-wrap-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem; }
  /* line 69, ../portfolio/codewiz/scss/_section-projects.scss */
  .project-wrap-2 ul {
    list-style: none; }
    /* line 72, ../portfolio/codewiz/scss/_section-projects.scss */
    .project-wrap-2 ul li {
      line-height: 2; }
      /* line 75, ../portfolio/codewiz/scss/_section-projects.scss */
      .project-wrap-2 ul li img {
        border-radius: 10px; }
    /* line 80, ../portfolio/codewiz/scss/_section-projects.scss */
    .project-wrap-2 ul li:first-of-type {
      font-weight: 700;
      text-decoration: underline;
      text-decoration-color: #FFD801;
      text-underline-offset: 6px;
      text-decoration-thickness: 2px; }

/* line 90, ../portfolio/codewiz/scss/_section-projects.scss */
.studny-link {
  color: #F2F3F4;
  text-decoration: none; }

/* line 1, ../portfolio/codewiz/scss/_footer.scss */
.footer-section {
  min-height: 100vh;
  background-color: #000000;
  color: #F2F3F4; }
  /* line 6, ../portfolio/codewiz/scss/_footer.scss */
  .footer-section h2 {
    padding: 3rem 0;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #F2F3F4;
    text-underline-offset: 10px;
    text-decoration-thickness: 6px; }

/* line 16, ../portfolio/codewiz/scss/_footer.scss */
.footer-wrap-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem; }

/* line 23, ../portfolio/codewiz/scss/_footer.scss */
.footer-wrap-2 {
  display: grid;
  grid-template-rows: repeat(4, 1fr); }
  /* line 27, ../portfolio/codewiz/scss/_footer.scss */
  .footer-wrap-2 h4,
  .footer-wrap-2 h5 {
    line-height: 1.5;
    place-self: center;
    text-align: center; }
  /* line 34, ../portfolio/codewiz/scss/_footer.scss */
  .footer-wrap-2 ul {
    list-style: none;
    place-self: center; }
    /* line 38, ../portfolio/codewiz/scss/_footer.scss */
    .footer-wrap-2 ul li {
      line-height: 2;
      font-size: clamp(1.25rem, calc(0.54vw + 1.14rem), 1.58rem); }
      /* line 42, ../portfolio/codewiz/scss/_footer.scss */
      .footer-wrap-2 ul li i {
        text-decoration: underline;
        text-decoration-color: #F2F3F4;
        text-underline-offset: 10px;
        text-decoration-thickness: 3px; }
    /* line 51, ../portfolio/codewiz/scss/_footer.scss */
    .footer-wrap-2 ul li a {
      color: #F2F3F4;
      padding: 1rem 0;
      text-decoration: underline;
      text-decoration-color: #F2F3F4;
      text-underline-offset: 10px;
      text-decoration-thickness: 3px; }

/* line 62, ../portfolio/codewiz/scss/_footer.scss */
.git a {
  color: #F2F3F4;
  text-decoration: underline;
  text-decoration-color: #F2F3F4;
  text-underline-offset: 6px;
  text-decoration-thickness: 3px; }
  /* line 69, ../portfolio/codewiz/scss/_footer.scss */
  .git a i {
    color: #F2F3F4;
    text-decoration: underline;
    text-decoration-color: #F2F3F4;
    text-underline-offset: 6px;
    text-decoration-thickness: 3px; }

/* line 10, ../portfolio/codewiz/scss/main.scss */
html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

/* line 15, ../portfolio/codewiz/scss/main.scss */
*, *:before, *:after {
  box-sizing: inherit; }

/* line 19, ../portfolio/codewiz/scss/main.scss */
html, body {
  height: 100%;
  padding: 0;
  margin: 0; }

/* line 25, ../portfolio/codewiz/scss/main.scss */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

/* line 31, ../portfolio/codewiz/scss/main.scss */
ul {
  margin: 0;
  padding-left: 0; }

/* line 36, ../portfolio/codewiz/scss/main.scss */
a {
  text-decoration: none; }

/* line 40, ../portfolio/codewiz/scss/main.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-transform: uppercase; }

/* line 50, ../portfolio/codewiz/scss/main.scss */
h1 {
  font-size: clamp(3.05rem, calc(3.18vw + 2.42rem), 5rem); }

/* line 54, ../portfolio/codewiz/scss/main.scss */
h2 {
  font-size: clamp(2.44rem, calc(2.14vw + 2.01rem), 3.75rem); }

/* line 58, ../portfolio/codewiz/scss/main.scss */
h3 {
  font-size: clamp(1.95rem, calc(1.4vw + 1.67rem), 2.81rem); }

/* line 62, ../portfolio/codewiz/scss/main.scss */
h4 {
  font-size: clamp(1.56rem, calc(0.89vw + 1.38rem), 2.11rem); }

/* line 66, ../portfolio/codewiz/scss/main.scss */
h5 {
  font-size: clamp(1.25rem, calc(0.54vw + 1.14rem), 1.58rem); }

/* line 70, ../portfolio/codewiz/scss/main.scss */
p {
  font-size: clamp(1rem, calc(0.31vw + 0.94rem), 1.19rem); }

/* line 74, ../portfolio/codewiz/scss/main.scss */
body {
  font-family: "Rubik", sans-serif;
  background-color: aqua; }

/* line 83, ../portfolio/codewiz/scss/main.scss */
header {
  max-width: 100%;
  height: 100vh; }

/* line 90, ../portfolio/codewiz/scss/main.scss */
main {
  max-width: 100%; }

/* line 94, ../portfolio/codewiz/scss/main.scss */
section {
  max-width: 100%; }

/* line 98, ../portfolio/codewiz/scss/main.scss */
.content {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1.25rem; }

/*# sourceMappingURL=main.css.map */