header {
    background: url(../img/bg/webp/header-bg-pc-grad.webp) no-repeat;
    background-size: cover;
    text-align: center;
    color: $color-text;
    font-weight: 500;
}

.header-section {
    border-bottom: 1px solid red;
}

// NAVIGATION

nav {
    background-color: $color-transparent;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.menu-nav {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    text-transform: uppercase;
    padding: 1.5rem 0;
    border-bottom: 1px solid $underline-projects;

    li a {
        color: $color-text;
        font-size: $fs-lg;
        padding: 1rem 0;

        &:hover,
        &:active {
            text-decoration: underline;
            text-decoration-color: $underline-projects;
            text-underline-offset: 10px;
            text-decoration-thickness: 6px;
        }
    }
}

#domov {
    &:hover,
    &:active {
        text-decoration: underline;
        text-decoration-color: $underline-projects;
        text-underline-offset: 10px;
        text-decoration-thickness: 6px;
    }
}

// MENU MEDIA QUERIES

@media (max-width: 900px) {
    .menu-nav li a {
        font-size: $fs-base;
        &:hover,
        &:active {
            text-underline-offset: 8px;
            text-decoration-thickness: 3px;
            
        }
    }

    #domov {
        &:hover,
        &:active {
            text-underline-offset: 8px;
            text-decoration-thickness: 3px;
        }
    }
}

@media (max-width: 500px) {
    .menu-nav li a {
        font-size: $fs-sm;
    }
}


// CONTENT

.header-section {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.logo-content {
    display: grid;
    align-self: center;
    container-type: size;
    height: 50cqh;
}

.header-hero-wrap {
    display: grid;
    align-self: end;
    container-type: size;
    height: 90vh;
    background: url(../img/myself/header-hero.png) bottom right no-repeat;
    background-size: contain;
    
}

.logo-wrap {
    width: 100%;
    container-type: size;
  }

// LOGO

.wiz {
    max-width: 50cqh;

    .cls-1, .cls-2 {
        fill: $color-text;
        stroke-width: 0px;
    }
    
    .cls-2 {
        fill-rule: evenodd;
      }
}

// LOGO TEXT

.logo-text {
    font-size: $fs-xl;
    padding-top: 1rem;
}


/*animacia*/
.logo-wrap .wiz {
    transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
  }
  
  .logo-wrap.scaling .wiz {
    transform: scale(1.05);
    filter: drop-shadow(2px 2px 5px #fff);
  }

@media (max-width: 1300px) {
    .header-section {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 900px) {

    header {
        background: url(../img/bg/webp/header-bg-tb-grad.webp) no-repeat;
        background-size: cover;
    }

    .header-section {
        height: 100vh;
        display: grid;
        grid-template-columns: unset;
        grid-template-rows: 1fr 1fr;
    }

    .logo-content {
        display: grid;
        align-self: center;
        container-type: size;
        height: 30vh;
        padding-top: 5rem;
    }

    .wiz {
        max-width: 100cqh;
    }

    .header-hero-wrap {
        display: grid;
        align-self: end;
        container-type: size;
        height: 40vh;
        background: url(../img/myself/header-hero.png) bottom no-repeat;
        background-size: contain;
        
    }
}

@media (max-width: 500px) {
    header {
        background: url(../img/bg/webp/header-bg-mb-grad2.webp) no-repeat;
        background-size: cover;
    }

}




    
