.about-section {
    min-height: 100vh;
    background: url(../img/bg/webp/about-bg-pc-grad.webp) no-repeat;
    background-size: cover;
    color: $color-text;

    
    
    h2 {
        padding: 3rem 0;
        text-align: center;
        text-decoration: underline;
        text-decoration-color: $underline-about;
        text-underline-offset: 10px;
        text-decoration-thickness: 6px;
    }
}

.about-wrap-main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 1rem;
}

.about-wrap-1 {


    h1 {
        line-height: 1.5;
        text-decoration: underline;
        text-decoration-color: $underline-about;
        text-underline-offset: 10px;
        text-decoration-thickness: 6px;
    }

    h3 {
        text-transform: none;
        place-self: center;
        line-height: 1.5;
        padding-top: 2rem;
    }
}

.about-wrap-2 {
    line-height: 2;
}

em {
    text-decoration: underline;
    text-underline-offset: 5px;
    font-weight: 500;
}

@media (max-width: 900px) {
    .about-wrap-main {
        display: block;
        text-align: center;
        padding-bottom: 3rem;
    }

    .about-section {
        background: url(../img/bg/webp/about-bg-tb-grad.webp) no-repeat;
        background-size: cover;
    }

    .about-wrap-2 p {
        margin: 2rem 0;
    }
}

@media (max-width: 500px) {
    .about-section {
        background: url(../img/bg/webp/about-bg-mb-grad-final.webp) no-repeat;
        background-size: cover;
    }
}