.techstack-section {
    min-height: 100vh;
    background: url(../img/bg/webp/techstack-bg-pc-grad-final.webp) no-repeat;
    background-size: cover;
    color: $color-text;

    

    h2 {
        padding: 3rem 0;
        text-align: center;
        text-decoration: underline;
        text-decoration-color: $underline-tech;
        text-underline-offset: 10px;
        text-decoration-thickness: 6px;

    }
}

/*CUBE HERO*/

.cube-hero {
    display: none;
}




.techstack-content {
    background: url(../img/myself/webp/cube-hero-pc.webp) center no-repeat;
    background-size: contain;
    min-height: 100vh;
}

/*CUBE*/

.cube-wrap {
    position: relative;
    min-height: 80vh;
    width: 100%;
    container-type: size;
    
}

.cube {
    overflow: visible !important;
    position: absolute;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    backface-visibility: hidden;
    width: 20cqw;
    height: 20cqw;
    text-align: center;
    container-type: size;
    top: 37%;
    left: 40%;
    transform: translate(-37%, -40%);
    -webkit-transform: translate(-37%, -40%);
  }



.side {
    position: absolute;
    width: 100cqw;
    height: 100cqw;
    display: flex;
    align-items: center;
    justify-content: center; 

    
    //filter: drop-shadow(5px 5px 10px $color-text);

    //animation: lighting 3s infinite alternate;
}

.icon-wrap {
    font-size: 50cqh;
}

// SHADOW / LIGHTING ANIMATION //
/*
@keyframes lighting {
    0% {
        filter: drop-shadow(5px 5px 10px $color-text); 
    }
    50% {
        filter: drop-shadow(5px 5px 30px $color-text);
    }
    100% {
        filter: drop-shadow(5px 5px 10px $color-text);
    }
  }
*/
.front {
    /*HTML LOGO*/
    background: url(../img/other/webp/sklo.webp) no-repeat;
    background-size: contain;
    color: $logo-html;
    transform: translateZ(50cqw);
    
}


.back {
    /*GIT LOGO*/
    background: url(../img/other/webp/sklo.webp) no-repeat;
    background-size: contain;
    color: $logo-git;
    transform: translateZ(-50cqw); /*125px*/
    
}


.right {
    /*JS LOGO*/
    background: url(../img/other/webp/sklo.webp) no-repeat;
    background-size: contain;
    color: $logo-js;
    transform: translateX(50cqw) rotateY(90deg); /*125px*/
    
}

.left {
  /*JQ LOGO*/
  background: url(../img/other/webp/sklo.webp) no-repeat;
  background-size: contain;
  transform: translateX(-50cqw) rotateY(-90deg); /*125px*/
  
}


.top {
  /*SASS LOGO*/
  background: url(../img/other/webp/sklo.webp) no-repeat;
  background-size: contain;
  color: $logo-sass;
  transform: translateY(-50cqw) rotateX(90deg); /*125px*/
  
}


.bottom {
  /*CSS LOGO*/
  background: url(../img/other/webp/sklo.webp) no-repeat;
  background-size: contain;
  color: $logo-css;
  transform: translateY(50cqw) rotateX(-90deg); /*125px*/
  
}

.cube {
    animation: rotateAndScale 15s infinite linear;
  }

 // CUBE ROTATION 

@keyframes rotateAndScale {
    0% {
        transform: rotateX(0deg) rotateY(0deg) scale(1);
        
    }
    12.5% {
        transform: rotateX(45deg) rotateY(45deg) scale(1.15);
        
    }
    25% {
        transform: rotateX(90deg) rotateY(90deg) scale(1);
        
    }
    37.5% {
        transform: rotateX(135deg) rotateY(135deg) scale(1.15);
        
    }
    50% {
        transform: rotateX(180deg) rotateY(180deg) scale(1);
        
    }
    62.5% {
        transform: rotateX(225deg) rotateY(225deg) scale(1.15);
        
    }
    75% {
        transform: rotateX(270deg) rotateY(270deg) scale(1);
        
    }
    87.5% {
        transform: rotateX(315deg) rotateY(315deg) scale(1.15);
        
    }
    100% {
        transform: rotateX(360deg) rotateY(360deg) scale(1);
        
    }
  }

  .jqlogo {
    max-width: 50%;
    filter: drop-shadow(1px 1px 1px $color-dark);
  }
  
  .cube-icon {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  }

/* SKILL SET */

.techstack-wrap-main .skill-set-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40%;
    //font-size: $fs-base;
}

.skill-set-first,
.skill-set-second {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 1rem;
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    align-items: center;
    column-gap: 1rem;
}

.status-wrap {
    width: 100%;
    height: 50%;
    background-color: darken($underline-tech, 25%);
}

.status {
    width: 100%;
    height: 100%;
    background-color: $underline-tech;
  }

.html5 {
    width: 85%
}

.css3 {
    width: 85%
}

.js {
    width: 25%
}

.jq {
    width: 25%
}

.sass {
    width: 50%;
}

.github {
    width: 25%
}

.skill-name {
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: $underline-tech;
    text-underline-offset: 8px;
    text-decoration-thickness: 3px;
  }

  /* MEDIA QUERIES */


// TABLET

 @media (max-width: 900px) {
    .techstack-section {
        background: url(../img/bg/webp/techstack-bg-tb-grad-final.webp) center no-repeat;
        background-size: cover;
        min-height: 100vh;
    }

    .techstack-content {
        background: none;
    }
    
    .techstack-wrap-main .skill-set-wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        min-height: 10vh;
    }

    .cube-wrap {
        position: relative;
        min-height: 70vh;
        background: url(../img/myself/webp/cube-hero-tb.webp) center no-repeat;
        background-size: contain;
        container-type: size;
    }

    .cube {
        width: 25cqw;
        height: 25cqw;
        container-type: size;
        top: 38%;
        left: 20%;
        transform: translate(-20%, -38%);
      }

    .side {
        width: 100cqh;
        height: 100cqh;
        container-type: size;
    }

    .front {
        transform: translateZ(50cqh); /*100px*/
    }
    
    
    .back {
        transform: translateZ(-50cqh); /*100px*/
    }
    
    
    .right {
        transform: translateX(50cqh) rotateY(90deg); /*100px*/
    }
    
    .left {
      transform: translateX(-50cqh) rotateY(-90deg); /*100px*/
      
    }
    
    .top {
      transform: translateY(-50cqh) rotateX(90deg); /*100px*/
    }
    
    .bottom {
      transform: translateY(50cqh) rotateX(-90deg); /*100px*/
    }


 }



 // MOBILE


 @media (max-width: 500px) {



    .techstack-content {
        height: auto;
        

    }

    .techstack-wrap-main .skill-set-wrap {
        grid-template-columns: unset;
        row-gap: 1rem;
    }

    .techstack-section {
        background: url(../img/bg/webp/techstack-bg-mb-grad-final.webp) no-repeat;
        background-size: cover;
        min-height: 200vh;

        .cube-wrap{
            min-height: 50vh;
            container-type: size;
            position: relative;
            background: none;
          }
    }
    
    .skill-set-wrap .skill-set-first .skills,
    .skill-set-wrap .skill-set-second .skills {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        row-gap: 1rem;
        
        .skill-level {
            grid-column: 1 / 2;
        }

        .status-wrap {
            grid-row: 1 / 2;
            grid-column: 2 / 3;
        }
    }




    .techstack-section .cube-hero {
        display: block;
        height: 50vh;
        background: url(../img/myself/webp/cube-hero-mb.webp) center no-repeat;
        background-size: contain;
    }

    .cube {
        //left: 25%;
        //top: 25%;
        position: absolute;
        width: 40cqh;
        height: 40cqh;
        container-type: size;
        
        top: 22%;
        left: 28%;
        transform: translate(-22%, -28%);
        
      }

    .side {
        width: 100cqh; /* 200px */
        height: 100cqh; /* 200px */
        container-type: size;
    }

    .front {
        transform: translateZ(50cqh); /*100px*/  
    }
    
    
    .back {
        transform: translateZ(-50cqh); /*100px*/
    }
    
    
    .right {
        transform: translateX(50cqh) rotateY(90deg); /*100px*/
    }
    
    .left {
      transform: translateX(-50cqh) rotateY(-90deg); /*100px*/
      
    }
    
    .top {
      transform: translateY(-50cqh) rotateX(90deg); /*100px*/
    }
    
    .bottom {
      transform: translateY(50cqh) rotateX(-90deg); /*100px*/
    }


 }

 @media (max-width: 350px) {
    .cube {
        top: 22%;
        left: 22%;
        transform: translate(-22%, -22%);
        
      }
 }
 

 

 